.app {
  padding: 50px;
  background-color: rgb(170, 155, 136);
  background-attachment: fixed;
  height: 100vh;
  display: flex;
}

.turn {
  display: block;
  position: absolute;
  top: 10px;
  font-weight: 700;
  color: rgb(48, 48, 48);
}

.captured--pieces-wrapper {
  margin-bottom: 200px;
  width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.captured--piece {
  margin: -15px;
  height: 62.5px;
  width: 62.5px;
  transform: scale(0.5);
}
.captured--piece-black {
  width: 50px;
}

.captured--piece-white {
  width: 50px;
}

.win-screen {
  padding: 1rem;
  background-color: rgb(73, 80, 80);
  color: red;
  position: absolute;
  top: 250px;
  left: 162px;
  font-size: 3em;
  font-weight: 900;
  border-radius: 40%;
}

.capture--moves {
  color: rgb(102, 19, 102);
  font-weight: 900;
}
